env:
    - GHCVER=7.6.1
    - GHCVER=7.6.2
    - GHCVER=7.6.3

before_install:
    - sudo add-apt-repository -y ppa:hvr/ghc
    - sudo apt-get update
    - sudo apt-get install cabal-install-1.18 ghc-$GHCVER
    - cabal-1.18 update

install:
    - PATH=/opt/ghc/$GHCVER/bin:$PATH cabal-1.18 install --enable-tests --only-dependencies

script:
    - PATH=/opt/ghc/$GHCVER/bin:$PATH cabal-1.18 test
